/* CSS Reset */
/*Allows to easily manipulate the sizes and positioning of elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Google Font*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*navigation bar*/
/* 1rem = 16px (default font size) */
nav {
    /*shorthand property*/
    /*Applied padding to all sides*/
    /*Value is 12.8 pixels based on the root element*/
    /*Creates space from between the ul tag and the nav element*/
    padding: 0.8rem;
    /*properties that make up the "padding" property*/
    /*padding-top: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;*/
    /*creates space between the nav and the intro section*/
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    list-style-type: none;
}

/*margin vs padding*/
/*margin is best used when creating space between elements.*/
/*padding is best used when creating space between an element's border and it's content.*/

nav .nav, nav .nav-logo {
    /*creates space between the ul and the nav element*/
    margin: 0.5rem;
    /*changes elements to inline elements*/
    display: inline;
}

/*intro section*/
#intro {
    /*creates space between the contents of the intro section and the it's border*/
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    /*shorthand property*/
    /*padding: 2rem 10% 3rem;*/
    text-align: center;
}

.header {
    /*best used when horizontally aligning text instead of using margin and padding*/
    text-align: center;
}

#intro h2, #intro p {
    /*creates space between the contents of the intro section*/
    margin-bottom: 1rem;
}

#intro button {
    color: white;
    /*changes the thickness of text*/
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    /*creates space between the button text and the border*/
    padding: 1rem;
}

/*succeed info section*/
#succeed-info {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}


#succeed-info h2 {
    margin-bottom: 3rem;
}

#succeed-info h3 {
    text-align: left;
    margin-bottom: 15px;
}

#succeed-info p {
    text-align: left;
    margin-bottom: 15px;
}

#succeed-info .card {
    vertical-align: top;
    margin-top: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#pre-footer {
    background-color: #002b3b;
    color: white;
    margin-top: 2rem;
}

#pre-footer div {
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#pre-footer h3 {
    padding-bottom: 3px;
}

#pre-footer p {
    padding-top: 3px;
    padding-bottom: 3px;
    max-width: 300px;
}

footer {
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 20px;
}